# TBC Insurance

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import pyplot
import seaborn as sns

%matplotlib inline
%run ../Veon_Tasks/functions_book.ipynb

# Data:
1. პოლისის ნომერი (hash) - ert adamians sheidzleba tu ar aqondes bevri polisis nomeri, 
2. წინა პოლისის ნომერი(hash) - 1 welis mere icvleba polisi, da icvleba polisis nomeri
3. დამზღ პირადი ნომერი (hash) - tanamshromelia? ramdeni tanamshromeli gkavt?  klientia vinc modis am manqanis dasazgvevad
4. დამზღვევის დაბადების თარიღი - tanamshromlis dabadebis weli? 
5. მანქანის წელი- am svetshi carieli mnishveloab nishnavs rom manqana ar aris producti
6. სედანი/ჯიპი	- manqanis tipi
7. VinCode - zustad ras nishnavs? - manqanis unikaluri kodi
8. მესაკუთრე (hash)	- dasagvevad mosuli? tu manqanis mepatrone? - tviton am manqanis mplobeli
9. Client Category (hash) - ? - 2 nairi kategoria, chveulebrivi da VIP, tu carielia chveulebrivi tipia.
10. პრემია - dazgvevis pasi? - ki ramdeni mouwevs gadaxda adamians(1weli)
11. გაუქმებული პრემია- ras nishnavs? - ramdenic ar gadaixada
12. დასრულების თარიღი	- xelshekrulebis dasasruli? - 1 weli rom gadis xelshekrulebis darulebis ttarigi,an rom ar gadaixarada
13. გაუქმების თარიღი	- xelshekrulebis dasrulebis tarigi? - canceled date(rom ar gadaixada 1 tvis ganmavlobashi gadasaxdeli vadisshemdgom)
14. ამოქმედების თარიღი	- xelshekrulebis tarigi? - registracis +1 +2 amoqmedeis targi am polisis
15. რეგისტრაციის თარიღი	- ra gansvaveba amoqmedebasa da registracias shoris? marto amoqmedeba? registracia polisis
16. სტატუსი	- პოლისის სტატუსი : 1.Active  2. Cancelled  3. Annuled ra ras nishanvs? - canceled aris rodesac ar gadaixada, danulirebuli aris rom saertod ar gadaixada dasawyisshive
17. განახლება - ras nishanvs ganaxleba? - 1 welis mere ganaxleba, xdeba. axali - nishanvss (?)
18. ვადაგადაცილებული დღე - yovel tve ixdis? da ramdeni dge gavida deadlinedan? cancelled and unnuled ra kavhsirshia - exla rra gadacileba aqvs. tu gadaixada dagvianebit mainc 0 chaewereba. vinc ar gadixada magis gadacilebuli degebi
19. პროდუქტი - ras nishanvs? - manqanis dazgveva, qonebis dazgveva, mesame pasuxismgebeli piris dazgveva.
20. პასუხისმგებელი - vin aris? - tanamsromeli vinc azvevinebs manqanas
21. პასუხისმგებლის დაბადების თარიღი	- 
22. თანამშრომლის სქესი - damzgvevsa da tanamshromels shoris ra gansvavebaa? esec pasuxismgebeli tipi
23. arxi - ?? - saaagento, vip, romeli deparamentidan ikideba.

In [2]:
data1 = pd.read_excel('TBC_Insurance.xlsx', 'Data')

In [14]:
display_all(data1.head())

,პოლისის ნომერი (hash),წინა პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),დამზღვევის დაბადების თარიღი,დამზღვევის სქესი,მანქანის წელი,სედანი/ჯიპი,VinCode (hash),მესაკუთრე (hash),Client Category (hash),პრემია,გაუქმებული პრემია,დასრულების თარიღი,გაუქმების თარიღი,ამოქმედების თარიღი,რეგისტრაციის თარიღი,სტატუსი,განახლება,ვადაგადაცილებული დღე,პროდუქტი,პასუხისმგებელი,პასუხისმგებლის დაბადების თარიღი,თანამშრომლის სქესი,არხი
0,a33fff3fbe65ff7923448554f5f32f05b52ddf1f4cf88d...,NaN,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,1980-01-16 00:00:00,ქალი,2013.0,ჰეტჩბეკი,431c1efe08a32bf6c68413502084288d6e324f3da3fe62...,5c05f5ab96ae3736b288a7121c222b86a82c221e782b4d...,NaN,1682.57,-1397.54,2020-05-27,2019-07-28,2019-05-28,2019-05-27,Cancelled,ახალი,0,MotorPackage,398842,1989-06-14,ქალი,ჯგუფი 1
1,1caa70ee07ef8cb0f55f06f6bf43cb7d4853b13fe837a4...,NaN,70720759877097d63afb1e59d5f535413076b92a48e616...,1968-09-29 00:00:00,კაცი,1998.0,ჰეტჩბეკი,843ddfb4b17a8dc44dbcc165d36786798fcc253933ec29...,70720759877097d63afb1e59d5f535413076b92a48e616...,NaN,670.00,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,495614,1997-11-28,კაცი,ჯგუფი 1
2,634cc57a6f4ba919e81c0f01b7530de1f660b67183f597...,NaN,21af9ba2c667dc7758c1d8fee8cf845c10a2b912077ff3...,1994-10-07 00:00:00,კაცი,2005.0,სედანი,d16a385eaade48a9d56e49f67b9042cafb31468c99fc8d...,b2ab219880a9e7366cdaac2c46129f4e15d216ac820b4b...,NaN,1863.34,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,11,MotorPackage,529828,1991-11-03,ქალი,ჯგუფი 1
3,6e58638e7cd1bb63394922816cdbc8a1e50cc6ae6206cb...,NaN,ce3f168dac3aa97e04b770006e29b2bc6a5a4dca34a198...,1984-01-29 00:00:00,კაცი,2014.0,სედანი,7196ee9bff091662d159a29850b3ee1d154484c5c2b927...,024a595cf432f0b1247e82f840876a38a1b6e7706de4a5...,NaN,1289.04,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,553341,1998-09-20,კაცი,ჯგუფი 1
4,e831f0776cd9fd656387eb9de5a72009f1f747ce8d90e3...,NaN,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,1985-11-13 00:00:00,ქალი,2013.0,მაღალი გამავლობის,997626cecc2e98440cf9273c9e508e43c86e93cdff48a3...,be7f92e24d1ad7c35f4b44afde3077178512c4a846da5f...,NaN,1351.61,NaN,2020-05-27,NaT,2019-05-28,2019-05-27,Active,ახალი,0,MotorPackage,27275,1996-11-05,კაცი,ჯგუფი 1

# Claims
1. მოთხოვნილი - ??
2. ანაზღაურებული - ?
3. status - მოთხოვნის შემდეგ რა სტადიაშია განაცხადი, ra aris nan valuebi? stadiebis tanmimdevroba?
4.

In [16]:
data2['status'].value_counts()

დასრულებულია                              623
Settlement transferred Web                396
დახურულია უფროსის მიერ                    271
Settlement transferred Call               146
დასრულებულია სატელეფონო ზარით              49
მოლოდინი                                   34
მზადაა დარეგულირებისთვის                   27
გადაეცა უფროსს                             20
მუშავდება                                  13
დამტკიცებულია ოფიცერის მიერ                12
დასრულებულია Web-ით (ვერ გადაირიცხა)        7
მზადაა Web დარეგულირებისთვის                2
დაუბრუნდა ოფიცერს                           2
დამტკიცებულია დირექტორის მიერ               1
გადაეცა დირექტორს                           1
დამტკიცებულია მოადგილის/მენეჯერის მიერ      1
დამტკიცებულია უფროსის მიერ                  1
გადაეცა  იურისტს                            1
Name: status, dtype: int64

In [15]:
data2 = pd.read_excel('TBC_Insurance.xlsx', 'Claims')
data2.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),მოთხოვნილი,ანაზღაურებული,status
0,8db2524c6a0cc24c40728a4cd2c8ea61bd46a16bff2a91...,80a284b3dc8430668a5164aa0b546f98dcbbfff98e2bf0...,200,0.0,დახურულია უფროსის მიერ
1,e06baaf78259d3fb9cb9812a74ff6aae688c17db191f28...,217766e18fb9c8206991d67759d8074fb5916d17d392f8...,140,140.0,დასრულებულია
2,70971bc5a020e1ee98a8cd09339d8132057f32c5629cbd...,2787baf52cb7b621f83046e140188d628fb79c2c0f1f1f...,0,0.0,NaN
3,65bccc36279ecc25c810548791f783aedf1232189593d6...,4f1c2bf0b8e5be2233ffeaf73f4625ccbf3aad145a9bce...,0,0.0,NaN
4,d83dcd56cc8956b846224634ae7f7ab5715dc390f01e74...,27b7df60738682715f883edc0de36a055129ad9284379f...,400,430.0,Settlement transferred Web

# Car_washing
1. wash_date - manqanis garecxva, bolo tarigi ar aris eg?

In [17]:
data3 = pd.read_excel('TBC_Insurance.xlsx', 'Car_Washing')
data3.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),wash_date
0,f55c9b3095776a3ec0fd65a0f9d55139aa3979b4ea8a8f...,edffe82d8db952325474bd1d4ad3ad8badfd2173df7fa7...,2019-08-01
1,c65e34d26a944e1778279af0b7634ed02aa4f9222af6eb...,7c2355697fa001550fb2c2e79b0ff65c526f2e7e3b783b...,2019-08-01
2,8bb599e620f620428856a3f31fed8c155042e924fa50db...,03965169d3f1fb77a53b9a338b9b04d175a57d96c6e143...,2019-08-01
3,d258916caae2e9fca8e7643993ae4aef689d82ab1afddc...,f95aac3f5028bfcd3e8fe467a9771793c60cb4f049a048...,2019-08-01
4,ef79413de11d507c90a3d532df2e3d92141b9bc4926478...,c3d508d9da6cdbd1019c6bd2067ecda12641d2f765c63c...,2019-08-01

In [22]:
data3[data3['პოლისის ნომერი (hash)']=='c6b2ef8a0a0ddd281390b3b7795d58386dad1c3fcc2ee3cc7f59c9c4fdd42877']['wash_date']

9      2019-08-01 00:00:00.000
24     2019-08-02 00:00:00.000
39     2019-08-03 00:00:00.000
59     2019-08-04 00:00:00.000
74     2019-08-05 00:00:00.000
86     2019-08-06 00:00:00.000
96     2019-08-07 00:00:00.000
116    2019-08-08 00:00:00.000
153    2019-08-10 00:00:00.000
190    2019-08-12 00:00:00.000
222    2019-08-14 00:00:00.000
237    2019-08-15 00:00:00.000
275    2019-08-17 00:00:00.000
291    2019-08-18 00:00:00.000
311    2019-08-19 00:00:00.000
332    2019-08-20 00:00:00.000
354    2019-08-21 00:00:00.000
381    2019-08-22 00:00:00.000
400    2019-08-23 00:00:00.000
417    2019-08-24 00:00:00.000
438    2019-08-25 00:00:00.000
466    2019-08-26 00:00:00.000
484    2019-08-27 00:00:00.000
501    2019-08-28 00:00:00.000
523    2019-08-29 00:00:00.000
548    2019-08-30 00:00:00.000
561    2019-08-31 00:00:00.000
589    2019-09-20 10:04:45.352
714    2019-09-18 00:00:00.000
715    2019-09-17 00:00:00.000
                 ...
1736   2019-09-30 06:11:11.242
1782   2019-11-06 09:42:21.702
1937   2019-10-23 07:08:17.003
1967   2019-10-22 08:17:25.317
1973   2019-10-16 07:32:40.704
1982   2019-10-28 10:13:22.072
2032   2019-10-29 08:33:58.052
2109   2019-11-07 07:11:21.058
2131   2019-10-24 07:23:10.950
2177   2019-11-13 07:38:50.596
2275   2019-11-11 12:51:03.273
2319   2019-10-21 07:24:02.278
2342   2019-11-08 09:27:13.951
2392   2019-10-26 09:56:19.238
2397   2019-10-25 05:53:28.629
2439   2019-10-18 06:30:28.827
2458   2019-11-10 10:37:55.377
2511   2019-10-27 08:07:20.092
2545   2019-11-04 05:31:14.798
2548   2019-11-14 06:34:14.798
2644   2019-11-12 05:22:26.641
2661   2019-11-05 10:41:15.113
2718   2019-10-19 06:54:17.212
2759   2019-11-15 07:15:11.356
2779   2019-11-16 05:12:16.248
2819   2019-11-17 10:09:16.215
2840   2019-11-18 06:30:13.008
2878   2019-11-19 07:44:48.822
2908   2019-11-20 06:33:45.553
2930   2019-11-21 06:08:41.011
Name: wash_date, Length: 90, dtype: datetime64[ns]

In [21]:
data3['პოლისის ნომერი (hash)'].value_counts()

c6b2ef8a0a0ddd281390b3b7795d58386dad1c3fcc2ee3cc7f59c9c4fdd42877    90
f55c9b3095776a3ec0fd65a0f9d55139aa3979b4ea8a8f92f623b1682364bacb    68
ecd912f51b18ea5d0ff1f8b2fa3a8b0959c7c589dfda3393dc39b78bbf993356    53
9f471f009665f47d719db97bf3b98ac2c5f18745fc7c59afdb9173452c506b07    52
b555df20a046f4f413d7c9b051bc7e05154cc4cef235ccbdf6620b9ab6fb3d9d    37
fe0d2dcf366d623ef1644995adedd6fccebc1b46c3cacf19af5e1267f76eb32a    31
db5331d789def21887acce7c4ce1cb9fa7fd99acd01ad3c0012640d577602820    29
98583d44e4ce5e979a2736c2527f129a7ac5d974b08265309c5bd789c3ec9b66    25
6ca36fa11cf2b5503d0f1b77a0358c350eaf0971915281a0dd277f81f29a6f6a    25
7f821e124d478660206e2004bb7fe7b4885ebcd48d07af5880bc9081036230de    23
85175649a3a344385892bd203f4f2af397521a89054e6cfc0fab0f86b140ce20    22
8d78481b7b651531e85977fcae1fb50f49d93c9ec294c107655590ac43ed4521    20
e1edfa85ec73c4ad77fe1645e904a25528add45625e3f76453b0e2540d821d24    19
47969f8929866a0d3364c341acf2760bafb20a2c004c05a4220f140856a88817    19
f905d05436996311727f4e21e050e271bede8b57f340acd945498e4647b07d5a    18
edc73b70cb9dcc3431807a2084f11a6d44100a3cc07cc5e487bb648c57470b3e    16
7d4bd8c5577edba24ea5beed27adef5af86f550c63de4ab355831c92b2dc561b    15
8dde9cbaf3acf8fed484d67796c2cd77d78cfc204367a07ddc4cca304f3df77d    15
38e4626b997a144a56c583289f46c51b03daf576373af1291457bde390cd2c0d    15
4d0f408372ca444ced91f36617ab9208e877c372578e0032ce389128e91af9e6    15
e94b28a2c9d228d7970e1f71b0fe754ea88ebce0ee23db20457e872da8358b6f    14
a557337dc33fd51eef94490160cf0d5fabc68c5279ab3872fec3a9622194da2b    14
97fd717d0e8fb410a1d618f83b13220fc406a3146e41b012cad834c5901084c7    14
9083c58c719d2014de598389ff128a67bb4b9c92bec5e959be0f70852c313a51    13
9c19166402969ad81042ab1eb077ed4180e69962483ad2b2120f9adb7a94300d    13
87b8557efcaf9633b0e227c71cd4ff4696ebe7d759b74560053f2ff40a219d4c    13
b2f2181528bbd8a7527af63ec1135d2d21930dacc8c7a74fbb0cf16be80b38fc    12
550fb0c5281fc2fdaf32bfc5e0cdf7b2ba8cdea943cdfbfe3d120c56349bb172    12
1d532a760b39ee51671fd7ee7273c863b4991c5ef4f3540cb6165aeb3ef61986    12
d6fda329df2a64bf871bc73f4b8b0eb2e6d9616cb1a2c95f0b121f07d2cdd885    12
                                                                    ..
b9faaaba3d6d598a32ad190a7d29230c0ff1170f96d1f159fb1b06bedc03b715     1
432ba0b7a8dee69bf1cc0d669829b80f0c78d8ef10d6772588c89c4afef3c2be     1
92816e7cac17291868307bc8acec0a632d5acc979fa425fdf3e60fa6ae67b488     1
7dc1d874447676a8b770b9798e34a05d42af31ddc458663c86039e8101dab2ac     1
ccfeb3b175718e62c5818d7df2a4758acfcdaa71f83b80a234ac019bac42273b     1
cb6774846aa8a420d860dacf8002847f3c9d1bde5eeb1087b7ab2a2deef5f3e8     1
cf22b164e239aa946d52ac1bf614221e573cf6d6f15dc544ce4aebe5a1e15e11     1
6d1e6b6d2823477bca21605a3fc0d9939dfbc65b649c15a7c6d946f952896b63     1
d987822b59e7e16d522ca06d663841c3f3216fbdf90fff216ddc7bc6cabb0e5e     1
6a638ea1b49e2e4cdd8c559e17c3a4a495f2825175101b337dbb974e3cd765b7     1
31ea8ddeefa5d8db92f62d564efc4b90cf57596db029078db6aa6b571fcd5b22     1
2b1600675173c18558d220ce35bb94bc8fffb25839714e41ec7c7ecd4bd7c71c     1
502e0f943ff0c3e0847207f411e3b4a1a28fdda5299a352bf53dbaf600ff4877     1
87bedcb358586f4559276c66e890d8038e98ebb3741e408a60abf456e7c15484     1
0c10031b4c2ec202fddfcf444fd63ee133c131389aca3461832cd42caea49d08     1
b8edd3bb2d6305793c94c94462cfd92703e13648eb5b3c370b700f62a60de6bb     1
f5737f5aa59e52ea66db7c6981dfb2c011e01d0fb98b6ad9d44e383f0aa848f5     1
08ae9ca856174f9e6ad356e6efcf5a99be48accd11e41369236fdc3eb4630e1a     1
d49b487ed004ce95e572175ff43fd06e61c8e6640653757ea74a49b09ea9261d     1
060d54e0c28423e6e76c9361c6761f11886e6a0117805913ef4eb2bd50973028     1
ab0d7f2876bae490aa67a693b18f798a97184d9d7a241daf70dee13a18947ee5     1
32f0941436971bf01cd748c2f288ff8903fcf1943ca0dc81764fc4c8a10b148e     1
d24b484d72ed55ebeaa396116b351fb9b9703f006471a352d9df4bc7455feb42     1
a73b36d8459a6a97fa5fc007971b2b00fffd5d878a0775f972e2d4da367c9f45     1
445d88be60048ac5c4235518b3c7c1a2d131969ba5b41b8332e9384fca28f9f5     1
ccdcfe3f1d26348320332bb31c05262ffc5a34d59546fbe6018ba6ae71345e67     1
c1245ca264dded14dd3ab0c435e2af7f5633e77560336289b21d53fd0dcb1a50     1
90377ead6ede0c97319811a43efc97d01935d26c542b7d02265353c72c1bbfc8     1
5a8e16578b421544c90afd183fec7a7ba2cf3e81b8521c058a9f6a12ea2fcbe8     1
0ec675da32b954e40dc4010358d7641ca81978d9fea22bc3d896c0b43866252f     1
Name: პოლისის ნომერი (hash), Length: 735, dtype: int64

# Call_In_Abandon
1. in_abandon - ra zarebia? rogor dgindeba poliis nomeri da damzgvevis piri am darekvis shedegad? nebismieriramis gamo rekavs callcentrshi

In [6]:
data4 = pd.read_excel('TBC_Insurance.xlsx', 'Call_In_Abandon')
data4.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),in_abandon
0,00e6c43416a13d5cda176b10ae49c4d0b9aff6c6e62cbb...,e1dd184ec71d9aaa7e56d3f367e5485ebedbbe1ad67700...,1
1,1ab5af0bc38262afbf27fb757fc488781060313f44fb8f...,a99bfafb74c45ed6333f345d9c1c45aed24148fd455ca2...,1
2,fdef89dd1c0887534c183bbb149d4db5c1404ac1a82db0...,98621e262492b42751560d3d418477f7a0f247c11eaeed...,1
3,d298461e119e0fd56da4746100d282a2cae21ae7f4a4d6...,3e955456e8fdb52d11bb3740588b2e1a9069ca54b73668...,2
4,79cf90086355bc860083a168228d8a7c14bf273dde968e...,cdc52259eb4323d8754485608d285d8db41185141b7b4a...,1

# Call_Out_Abandon
1. rom urekaven upasuxod darchaa

In [7]:
data4 = pd.read_excel('TBC_Insurance.xlsx', 'Call_Out_Abandon')
data4.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),out_abandon
0,3c32718a003f9a45d7f2a7405f08fee6894c5274b8d881...,9589654c016b6e00f3b28e881b4d9b7043fdda1b7ca7fe...,1
1,79bcc685634ca51ced5f003b0b8682a702aeac224e6a48...,84d5aa69984c29c0d21bb883766c18f673a9f097d55afe...,6
2,0340ba919e5ce3b6845661efae377e1801103947f87a8a...,0b3d2c19b101cc32cb31679cd535acc3e31a128990aae4...,1
3,e7c9d5b8e4d90da47fbc60acb64b658bd5dae61115885a...,85bfa6a4cc43e35e6d49ed8169984b4b17d1820e557d33...,1
4,1e0ad4c02c266d54cdc69fc9c460ed1d6990926a50a6de...,ee4ad34bbbb5fd4241c295a6966cee8455e4898ba2e57a...,2

# Call_in_Answered
1. in_answered - gasagebia

In [8]:
data5 = pd.read_excel('TBC_Insurance.xlsx', 'Call_in_Answered')
data5.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),in_answered
0,00e6c43416a13d5cda176b10ae49c4d0b9aff6c6e62cbb...,e1dd184ec71d9aaa7e56d3f367e5485ebedbbe1ad67700...,4
1,1ab5af0bc38262afbf27fb757fc488781060313f44fb8f...,a99bfafb74c45ed6333f345d9c1c45aed24148fd455ca2...,4
2,fdef89dd1c0887534c183bbb149d4db5c1404ac1a82db0...,98621e262492b42751560d3d418477f7a0f247c11eaeed...,5
3,86580cc914939b1173b37a06d68ee29628de44f0f446c1...,978926a75e8f6ff5ca229698c7db06cd36a2147d68b51f...,4
4,d298461e119e0fd56da4746100d282a2cae21ae7f4a4d6...,3e955456e8fdb52d11bb3740588b2e1a9069ca54b73668...,1

# Call_out_answered
1. darekes da upasuxes

In [9]:
data6 = pd.read_excel('TBC_Insurance.xlsx', 'Call_out_answered')
data6.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),out_answered
0,fdef89dd1c0887534c183bbb149d4db5c1404ac1a82db0...,98621e262492b42751560d3d418477f7a0f247c11eaeed...,3
1,d298461e119e0fd56da4746100d282a2cae21ae7f4a4d6...,3e955456e8fdb52d11bb3740588b2e1a9069ca54b73668...,2
2,942d9de8d7272aae88e8162b0fb66ea8509cf9fd1f0da0...,1901355c66e56fc4ca63eeb365e9b07794ffc61a7009db...,1
3,8cbd07872000fe4d5e4333171dfe1e443dfee26d1a0b55...,c48ad2c0e93f192385edcc7d614b876bc0fe70eb80e05c...,1
4,2e18f868150162d893129384ca137d9d2d8de36ef48a70...,fb8058b27464cf16c5566e2cbce184d1eb2da2f5177fa7...,1

# Debtors
1. cancellationdate - gauqmebis tarigi, ra gasxvavebaa გაუქმების თარიღიsa da cancellationdate dates shoris? - 
2. schedule_ordinarynumber - vin rogor ixdis magis monacemi gvaq?> - 1 - ertjeradi gadaxda, 2 - orjeeradad gadaxa meorejer gadaixada
3. instalmentdate	- გადახდის თარიღი როდის უწევს ra shemtxvevashi>
4. payment_date - რეალურად როდის მოხდა გადახდა, amati sxvaoba aris tu ara gadacilebuli dgeebis raodenoba
5. overdue - aris amati sxvaoba? gansvaveba gadacilebul dgeebs shoris?

In [3]:
data7 = pd.read_excel('TBC_Insurance.xlsx', 'Debtors')
data7.head()

,პოლისის ნომერი (hash),დამზღ პირადი ნომერი (hash),cancellationdate,schedule_ordinarynumber,instalmentdate,payment_date,overdue
0,00e6c43416a13d5cda176b10ae49c4d0b9aff6c6e62cbb...,e1dd184ec71d9aaa7e56d3f367e5485ebedbbe1ad67700...,NaT,1,2019-05-27 13:37:51.349,2019-10-02 18:29:14.984,128
1,1ab5af0bc38262afbf27fb757fc488781060313f44fb8f...,a99bfafb74c45ed6333f345d9c1c45aed24148fd455ca2...,NaT,1,2019-05-27 13:41:23.039,2019-10-02 18:29:15.038,128
2,fdef89dd1c0887534c183bbb149d4db5c1404ac1a82db0...,98621e262492b42751560d3d418477f7a0f247c11eaeed...,NaT,1,2019-06-24 00:00:00.000,2019-06-25 19:05:41.568,1
3,fdef89dd1c0887534c183bbb149d4db5c1404ac1a82db0...,98621e262492b42751560d3d418477f7a0f247c11eaeed...,NaT,2,2019-07-24 00:00:00.000,2019-07-25 15:16:23.305,1
4,fdef89dd1c0887534c183bbb149d4db5c1404ac1a82db0...,98621e262492b42751560d3d418477f7a0f247c11eaeed...,NaT,3,2019-08-24 00:00:00.000,2019-08-24 15:01:41.551,0